<html lang="en">
    <head>
        <title>Speech to Text</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    </head>

    <body>
        <div class="ml-2 my-2">
            <input type="text" id="audioUrl" placeholder="Input the stream audio url..." style="width:400px;"/>
            <button class="btn btn-success" onclick="onConvert()">Convert</button>
        </div>

        <div class="ml-2 my-2" id="text">
        </div>
    </body>
</html>

<script>

    var val = "";
    var socket = io.connect('http://localhost:3000');
    
    socket.on('data', function(data){
        val = val + data.name.slice(1, data.name.length-1);
        $('#text').html(val);
    });

    function onConvert() {
        
        val = "";
        var audioUrl = $("#audioUrl").val();

        socket.emit('url', audioUrl);
    }
</script>